*
{
    font-family: 'Work Sans', sans-serif;
}

body
{
    margin: 0;
}

nav
{
    font-weight: 100;
    position: fixed;
	padding: 10px 0;
	right: 0;
	background-color: #222;
	width: 100%;
	text-align: right;
    margin: 0;
    text-align: center;
}

nav h2
{
    margin: 0;
    display: inline-block;
    color: white;
    font-size: 17pt;
    font-weight: 100;
}

nav a
{
    color: white;
    text-decoration: none;
    position: absolute;
    left: 30px;
    top: 10px;
    font-size: 15pt;
}

nav a:after
{
	content: "";
	position: absolute;
	background-color: transparent;
	right: 0;
	transition: width .5s ease, background-color .5s ease;
	display: block;
	height: 1px;
	width: 0;
}

nav a:hover:after
{
	content: "";
	width: 100%;
	height: 2px;
	background-color: #42e8f4;
	transition: all .5s ease;
	display: block;
	right: 0;
}

/* content */
main
{
    padding: 100px 0;
    margin: 0 auto;
    width: 70%;
}

#overview
{
    display: flex;
    justify-content: center;
    max-height: 400px;
    height: 300px;
}

#overview img
{
    object-fit: contain;
    height: 90%;
}

#overview span
{
    display: inline-block;
    width: 500px;
    margin-left: 50px;
    flex-basis: 50%;
}

main h2
{
    text-align: center;
    font-weight: 100;
    font-size: 30pt;
    margin-top: 100px;
}

main p, main span
{
    line-height: 1.5em;
    font-weight: 300;
    font-size: 1.1em;
}

.step a
{
    margin: 20px auto;
    display: block;
    width: 500px;
    text-align: center;
}

/* gallery */
.showcaseimg
{
	height: 400px;
	float: left;
	opacity: 1;
	transition: opacity .1s;
}

.imgGal
{
	height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.imgGal img
{
    height: 100%;
    object-fit: scale-down;
    max-width: 80%;
    background-color: #222;
}

.imgGal > a
{
	text-decoration: none;
	color: #888;
	font-size: 30pt;
	height: 60px;
	width: 150px;
	padding: 220px 0;
    background-color: rgba(0, 0, 0, .1);
    display: inline-block;
    margin: 0;
}

.imgGal > a:hover
{
	background-color: rgba(0, 0, 0, .3);
	color: white;
}