/* structural */
html
{
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Work Sans', sans-serif;
	background-image: url("../media/stones19x10.jpg");
	background-size: 1920px;
	overflow-x: hidden;
	--light: rgb(255, 125, 89);
	--dark: #0bb5c1;
	--medium: #5cacf4;
}

body
{
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: rgba(10, 10, 10, .7);
	font-weight: 100;
}

/* nav */
nav
{
	position: absolute;
	padding: 40px 0 0;
	right: 50px;
	z-index: 20;
}

nav a, nav a:hover, nav a:visited
{
	color: white;
	padding: 15px;
	font-size: 17pt;
	text-decoration: none;
	position: relative;
}

nav a:after
{
	content: "";
	position: absolute;
	background-color: transparent;
	right: 0;
	transition: width .5s ease, background-color .5s ease;
	display: block;
	height: 1px;
	width: 0;
}

nav a:hover:after
{
	content: "";
	width: 100%;
	height: 2px;
	background-color: var(--light);
	transition: all .5s ease;
	display: block;
	right: 0;
}

/* content */
main
{
	background-color: white;
	position: relative;
	z-index: 10;
	padding: 50px 50px 100px;
}

main > div
{
	width: 100%;
	text-align: center;
	margin-bottom: 100px;
}

section
{
	height: 100%;
	width: 100%;
	position: relative;
}

/* text */
h1
{
	color: white;
	width: 100%;
	text-align: center;
	position: relative;
	top: 170px;
	margin: 0;
	font-size: 50pt;
	font-weight: 100;
}

h2
{
	font-size: 30pt;
	font-weight: 100;
	color: #444444;
	text-align: center;
	margin-bottom: 30px;
	margin-top: 70px;
	display: inline-block;
}

p
{
	font-family: 'Work Sans', sans-serif;
	font-weight: 300;
	font-size: 13pt;
}

b
{
	font-weight: 500;
	color: var(--dark);
}

footer
{
	padding: 20px 0;
	text-align: center;
	width: 100%;
	background-color: #222;
	color: white;
}

/* classes */
.orng
{
	color: coral;
    font-size: 8em;
    display: inline-block;
    height: 100px;
    position: relative;
    clear: both;
}

.center
{
	text-align: center;
	border-bottom: none;
}

.fixed
{
	position: fixed;
	padding: 10px 0;
	right: 0;
	background-color: #222;
	width: 100%;
	text-align: right;
	padding-right: 50px;
	margin: 0;
}

.noULine, .noULine:hover, .noULine:active
{
	color: white;
	text-decoration: none;
}

/* ids */
#logo
{
	position: fixed;
	cursor: pointer;
	display: none;
	left: 20px;
    top: 10px;
}

#logo img
{
	width: 30px;
}

#bigLogo
{
	position: relative;
    width: 100px;
    top: 150px;
}

#landing
{
	text-align: center;
}

#arrow
{
	display: none;
	position: fixed;
	bottom: 50px;
	right: 50px;
	width: 70px;
	height: 70px;
	z-index: 20;
}

#arrow img
{
	width: 70px;
	height: 70px;
}

#me
{
	display: block;
    margin: 0 auto;
}

#background
{
	z-index: -5;
	width: 2000px;
	position: absolute;
}

#menu
{
	display: none;
}

#pad
{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#sub a
{
	color: #a0f3f9;
	font-style: italic;
	font-size: 20pt;
	position: relative;
	top: 170px;
}

#sub
{
	width: 400px;
	margin: 0 auto;
}

/* links */
a
{
	color: var(--dark);
}

a:hover
{
	color: var(--medium);
}

a:active
{
	color: var(--light);
}

/* card related */
.container
{
	width: 100%;
	clear: both;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card
{
	margin: 10px 10px;
	cursor: pointer;
}

.front
{
	box-shadow: 1px 1px 5px #888;
	border-radius: 5px;
}

.card, 
.front img
{
	border-radius: 5px;
	width: 300px !important;
	height: 400px !important;
	text-align: left;
	position: absolute;
}

.front img
{
	z-index: -1;
}

.front,
.front h2,
.front p
{
	background-color: var(--filter);
	opacity: 1;
	color: white;
}

.front p
{
	text-align: center;
	position: absolute;
	bottom: -17px;
	width: 100%;
	padding: 10px 0;
	border-radius: 0px 0px 5px 5px;
}

.front h2
{
	padding: 10px;
	font-size: 25pt;
	display: block;
}

.back
{
	width: 300px !important;
	height: 400px !important;
	text-align: left;
	background-color: white;
	box-shadow: 1px 1px 5px #888;
	border-radius: 5px;
}

.back div
{
	padding: 0 15px 15px 15px;
}

.back p:last-child
{
	padding-top: 20px;
}

.card p
{
	font-size: 12pt;
}

.card h3
{
	text-align: center;
    background-color: var(--filter);
    margin: 0;
    padding: 10px;
    color: white;
    font-weight: 200;
	font-size: 18pt;
	border-radius: 5px 5px 0 0;
}

/* link cards */
.linkCard
{
	margin: 10px;
}

.linkCard section
{
	background-color: var(--filter);
	width: 300px;
	margin: auto 10px;
	padding: 10px;
	border-radius: 5px;
    box-shadow: 1px 1px 5px #888;
}

.linkCard:hover section
{
	cursor: pointer;
	opacity: .8;
}

.linkCard h2
{
	color: white;
	margin: auto 10px;
}

.linkCard section
{
	display: table-cell;
	vertical-align: middle;
}

/* tabs */
.tab > ul
{
	display: flex;
	justify-content: center;
	margin: 0 auto 20px;
	border: none;
	background: white;
	padding: 0;
}

.tab > ul li
{
	list-style-type: none;
	font-size: 20pt;
	width: 200px;
	text-align: center;
	margin: 0;
}

.tab > ul li a
{
	text-decoration: none;
	color: #333;
	display: block;
	padding: 3px;
	outline: none;
	position: relative;
}

.tab > ul li a:active
{
	border: none;	
}

.tab > ul li.ui-tabs-active a
{
	color: coral !important;
}

.tab > ul li:first-child a:after
{
	right: 0;
}

.tab > ul li:last-child a:after
{
	left: 0;
}

.tab > ul li a:after
{
	content: "";
	position: absolute;
	background-color: var(--light);
	transition: all .5s ease;
	display: block;
	height: 1px;
	width: 0;
}

.tab > ul li.ui-tabs-active a:after,
.tab > ul li:hover a:after
{
	content: "";
	width: 100%;
	height: 1px;
	background-color: var(--light);
	transition: all .5s ease;
	display: block;
}

/* media queries */

/* large screens */
@media screen and ( min-device-width: 1900px )
{
	html
	{
		background-image: url("../media/stones27x16.jpg");
		background-size: 2000px;
	}
	
	nav
	{
		font-weight: 300;
	}
	
	h2
	{
		font-weight: 300;
	}
}

/* mobile */
@media screen and ( max-device-width: 450px )
{
	html
	{
		background-image: url("../media/stones10x7.jpg");
		background-size: 1500px;
	}
	
	#landing
	{
		height: 250mm;
	}

	.orng
	{
		font-size: 15em;
		line-height: 50px;
	}
	
	div
	{
		margin: 0 0 120px 0;
		padding-bottom: 50px;
	}
	
	/* text */
	h1
	{
		font-size: 75pt;
	}
	
	h2, .front h2
	{
		font-weight: 300;
		font-size: 50pt;
	}
	
	p
	{
		font-size: 30pt;
	}
	
	/* ids */
	#logo
	{
		visibility: hidden;
	}
	
	#arrow
	{
		width: 200px;
		height: 200px;
	}
	
	#background
	{
		width: 100%;
		height: 250mm;
	}
	
	#sub
	{
		width: 70%;
	}
	
	#sub a
	{
		 font-size: 35pt;
	}
	
	#me
	{
		width: 450px;
		height: 630px;
	}
	
	#menu
	{
		position: fixed;
		width: 150px;
		height: 150px;
		top: 50px;
		left: 0mm;
		z-index: 21;
		display: initial;
		transition: left .5s ease-out;
	}
	
	/* nav */
	nav, .fixed
	{
		position: fixed;
		text-align: left;
		width: 150mm;
		height: 100%;
		left: -150mm;
		background-color: #222;
		padding: 0;
		transition: left .5s ease-out;
	}
	
	nav a
	{
		font-size: 50pt;
		width: 100mm;
		padding: 25mm;
		display: block;
	}
	
	nav a:active
	{
		background-color: #d9fafc;
		color: #222;
	}
	
	nav a:hover
	{
		background-color: #222;
		color: white;
		font-size: 50pt;
		padding: 25mm;
	}

	/* tabs */
	.tab > ul li a
	{
		font-size: 2em;
		font-weight: 300;
	}

	.tab > ul li
	{
		width: 300px;
	}
	
	/* card */
	.container
	{
		display: block;
		position: static;
		max-width: 100%;
		max-height: 100%;
		margin: 50px 0;
		border: none;
	}

	.card
	{
		margin: 20px auto;
		padding: 40px;
	}
	
	.card, .card section
	{
		position: static;
		display: block;
		width: 700px !important;
		height: 700px !important;
	}
	
	.card section
	{
		border-right: 1px solid #222;
	}
	
	.card h3
	{
		font-size: 3em;	
		font-weight: 300;
	}
	
	.card p
	{
		font-size: 2em;
		padding: 0;
	}
	
	.card img
	{
		display: none;
	}
	
	.card.flipped, .card.flipped img, .card section
	{
		transition: none;
		transform: none;
	}

	.back
	{
		height: initial;
	}

	.linkCard section
	{
		width: 100%;
		display: block;
	}

	.linkCard section h2
	{
		margin: 50px;
	}
}